
<!DOCTYPE html>

<html>
<head>


<link rel="stylesheet" type="text/css" href="{{asset("/css/navbar.css")}}">
<link rel="stylesheet" type="text/css" href="{{asset("/css/account/account.css")}}">

</head>
<body>

{% include "extends/navbar.html.twig" %}


<div id="contener">

{% include "extends/account-panel.html.twig" %}

</div>



</body>
</html>
