
{% extends "creator/creator.html.twig" %}
{% block content %}
<div id="creator-panel">

<div id="title"><h2>Odpowiedz na {{subtopicName}}</h2></div>

<div id="create-answer">

    <form action="/createAnswer/{{subtopicId}}" method="POST">

        <h3>Wiadomość</h3>
        <textarea id="text-field"  name="text-field"></textarea>

      <input class="btn" type="submit"/>

    </form>


</div>


</div>

{% endblock %}
