
#last-activity
{

margin-left:10%;
height:400px;
width:30%;
float:left;
background-color: #fff;
border:2px solid #e9e9e9;

}


#last-activity h2
{
  margin:0px;
  padding:10px;
  border-bottom:2px solid #e9e9e9;
}

.list a
{
    text-decoration: none;
    color:black;
}

.list a:hover
{
  text-decoration: underline;

}
