<!DOCTYPE html>

<html>
<head>


<link rel="stylesheet" type="text/css" href="{{asset("/css/navbar.css")}}">
<link rel="stylesheet" type="text/css" href="{{asset("/css/creator/creator.css")}}">

</head>
<body>

{% include "extends/navbar.html.twig" %}

<div id="contener">


{% block content %}

{% endblock %}
</div>



</body>
</html>
