<!DOCTYPE html>

<html>
<head>


<link rel="stylesheet" type="text/css" href="{{asset("/css/navbar.css")}}">
<link rel="stylesheet" type="text/css" href="{{asset("/css/forum/forum.css")}}">

</head>
<body>

{% include "extends/navbar.html.twig" %}

<div id="contener">

{% include "extends/subtopics.html.twig" %}

</div>



</body>
</html>
